*{
    padding:0em;
    margin: 0em;
    box-sizing: border-box;
}

body{
    padding: 2em;
}

html{
    font: 14px / 1.5 Lato,sans-serif;
}

body, input, textarea, select, option{
    font:inherit;
}

.code{
    display:block;
    padding:2em 2em 2em 2em;
    border-radius: 0.3em;
    border: 1px solid #ccc;
    margin: 2em 0;
    margin-bottom: 2em;
    overflow: auto;
    background-color: #ccc;
}

select {
    display: inline-block;
    padding: 0.5em 0.8em;
    border: 2px solid #ccc;
    border-radius: 0.3em;
    background-color: #ccc;
}