*{
    padding:0em;
    margin: 0em;
    box-sizing: border-box;
}

html{
    font: 14px / 1.5 Lato,sans-serif;
}

body{
    padding:2em;
}

body, input, textarea, select, option{
    font:inherit;
}

.code {
    display: block;
    padding: 2em 2em 2em 2em;
    border-radius: 0.3em;
    margin: 2em 0;
    border: 1px solid #ccc;
    background: #eee;
    overflow: auto;
}

textarea {
     
    margin-top: 2em;
    padding:   0.5em 0.8em; 
    padding-bottom: 5em; 
    border: 2px solid #ccc; /* Бордюр с дебелина 1px и цвят #ccc */
    border-radius: 4px; /* Закръглени ръбове с радиус 4px */
    display: inline-block;
    outline: none;
}

input:focus,
textarea:focus {
    border-color: #090;
}
 

 