/* body {
    color: black;
    background-color: white;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: black;
    padding: 20px;
  }
  
  header h1 {
    color: white;
  }
  
  nav {
    background-color: black;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  
  nav ul li a.active {
    color: gray;
  }
  
  section {
    padding: 20px;
  }
  
  section h2 {
    color: white;
  }
  
  section p {
    color: white;
  }
  
  section ul {
    color: white;
    list-style-type: square;
  }
  
  footer {
    background-color: black;
    padding: 10px;
    text-align: center;
  }
  
  footer p {
    color: white;
  }
   */